Using Pyspark to read the dataset and check missing values.

In [1]:
# import packages
from pyspark.sql import SparkSession
from pyspark.ml import feature
from pyspark.ml import classification
from pyspark.sql import functions as fn
from pyspark.sql.functions import isnan, when, count, col
from pyspark.ml import Pipeline
from pyspark.ml.evaluation import BinaryClassificationEvaluator, \
    MulticlassClassificationEvaluator, \
    RegressionEvaluator
from pyspark.ml.tuning import CrossValidator, ParamGridBuilder
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
from pyspark.sql import SparkSession


spark = SparkSession.builder.getOrCreate()
sc = spark.sparkContext

In [2]:
# expand the output display to see more columns of a pandas DataFrame
pd.set_option('display.max_columns', None)  
pd.set_option('display.expand_frame_repr', False)
pd.set_option('max_colwidth', -1)

In [3]:
# read the dataset
df = spark.read.csv('loan.csv', header=True, inferSchema=True)

In [4]:
# take a look at the first 10 rows
df_pd = df.limit(10).toPandas()
display(df_pd.head())

     id member_id  loan_amnt  funded_amnt  funded_amnt_inv        term  int_rate  installment grade sub_grade       emp_title emp_length home_ownership annual_inc verification_status   issue_d loan_status pymnt_plan   url  desc             purpose               title zip_code addr_state    dti delinq_2yrs earliest_cr_line inq_last_6mths mths_since_last_delinq mths_since_last_record open_acc pub_rec revol_bal revol_util total_acc initial_list_status out_prncp out_prncp_inv total_pymnt total_pymnt_inv total_rec_prncp total_rec_int total_rec_late_fee recoveries collection_recovery_fee last_pymnt_d last_pymnt_amnt next_pymnt_d last_credit_pull_d collections_12_mths_ex_med mths_since_last_major_derog policy_code application_type annual_inc_joint dti_joint verification_status_joint acc_now_delinq tot_coll_amt tot_cur_bal open_acc_6m open_act_il open_il_12m open_il_24m mths_since_rcnt_il total_bal_il il_util open_rv_12m open_rv_24m max_bal_bc all_util total_rev_hi_lim inq_fi total_cu_tl inq_last_12m  acc_open_past_24mths avg_cur_bal  bc_open_to_buy bc_util  chargeoff_within_12_mths  delinq_amnt  mo_sin_old_il_acct  mo_sin_old_rev_tl_op  mo_sin_rcnt_rev_tl_op  mo_sin_rcnt_tl  mort_acc  mths_since_recent_bc  mths_since_recent_bc_dlq  mths_since_recent_inq  mths_since_recent_revol_delinq  num_accts_ever_120_pd  num_actv_bc_tl  num_actv_rev_tl  num_bc_sats  num_bc_tl  num_il_tl  num_op_rev_tl  num_rev_accts  num_rev_tl_bal_gt_0  num_sats  num_tl_120dpd_2m  num_tl_30dpd  num_tl_90g_dpd_24m  num_tl_op_past_12m  pct_tl_nvr_dlq  percent_bc_gt_75  pub_rec_bankruptcies  tax_liens  tot_hi_cred_lim  total_bal_ex_mort  total_bc_limit  total_il_high_credit_limit  revol_bal_joint sec_app_earliest_cr_line  sec_app_inq_last_6mths  sec_app_mort_acc  sec_app_open_acc  sec_app_revol_util  sec_app_open_act_il  sec_app_num_rev_accts  sec_app_chargeoff_within_12_mths  sec_app_collections_12_mths_ex_med  sec_app_mths_since_last_major_derog hardship_flag hardship_type hardship_reason hardship_status deferral_term hardship_amount hardship_start_date hardship_end_date payment_plan_start_date hardship_length hardship_dpd hardship_loan_status orig_projected_additional_accrued_interest hardship_payoff_balance_amount hardship_last_payment_amount disbursement_method debt_settlement_flag debt_settlement_flag_date settlement_status settlement_date settlement_amount settlement_percentage settlement_term
0  None  None      2500       2500         2500.0            36 months  13.56     84.92        C     C1        Chef            10+ years  RENT           55000      Not Verified        Dec-2018  Current     n          None  None  debt_consolidation  Debt consolidation  109xx    NY         18.24  0           Apr-2001         1              None                   45                     9        1       4341      10.3       34        w                   2386.02   2386.02       167.02      167.02          113.98          53.04         0.0                0.0        0.0                     Feb-2019     84.92           Mar-2019     Feb-2019           0                          None                        1           Individual       None             None      None                      0              0            16901       2           2           1           2           2                  12560        69      2           7           2137       28       42000            1      11          2            9                     1878        34360.0         5.9     0.0                       0            140.0               212                   1                      1               0         1.0                  NaN                        2                     NaN                              0                      2               5                3            3          16         7              18             5                    9         0                 0             0                   3                   100.0           0.0               1                     0          60124            16901              36500           18124                      NaN               None                    NaN                     NaN               NaN               NaN                 NaN                  NaN                    NaN                               NaN                                 NaN                                   N             None          None            None            None          None            None                None              None                    None            None         None                 None                                       None                           None                         Cash                N                    None                      None              None            None              None                  None
1  None  None      30000      30000        30000.0           60 months  18.94     777.23       D     D2        Postmaster      10+ years  MORTGAGE       90000      Source Verified     Dec-2018  Current     n          None  None  debt_consolidation  Debt consolidation  713xx    LA         26.52  0           Jun-1987         0              71                     75                     13       1       12315     24.2       44        w                   29387.75  29387.75      1507.11     1507.11         612.25          894.86        0.0                0.0        0.0                     Feb-2019     777.23          Mar-2019     Feb-2019           0                          None                        1           Individual       None             None      None                      0              1208         321915      4           4           2           3           3                  87153        88      4           5           998        57       50800            2      15          2            10                    24763       13761.0         8.3     0.0                       0            163.0               378                   4                      3               3         4.0                  NaN                        4                     NaN                              0                      2               4                4            9          27         8              14             4                    13        0                 0             0                   6                   95.0            0.0               1                     0          372872           99468              15000           94072                      NaN               None                    NaN                     NaN               NaN               NaN                 NaN                  NaN                    NaN                               NaN                                 NaN                                   N             None          None            None            None          None            None                None              None                    None            None         None                 None                                       None                           None                         Cash                N                    None                      None              None            None              None                  None
2  None  None      5000       5000         5000.0            36 months  17.97     180.69       D     D1        Administrative  6 years    MORTGAGE       59280      Source Verified     Dec-2018  Current     n          None  None  debt_consolidation  Debt consolidation  490xx    MI         10.51  0           Apr-2011         0              None                   None                   8        0       4599      19.1       13        w                   4787.21   4787.21       353.89      353.89          212.79          141.10        0.0                0.0        0.0                     Feb-2019     180.69          Mar-2019     Feb-2019           0                          None                        1           Individual       None             None      None                      0              0            110299      0           1           0           2           14                 7150         72      0           2           0          35       24100            1      5           0            4                     18383       13800.0         0       0.0                       0            87.0                92                    15                     14              2         77.0                 NaN                        14                    NaN                              0                      0               3                3            3          4          6              7              3                    8         0                 0             0                   0                   100.0           0.0               0                     0          136927           11749              13800           10000                      NaN               None                    NaN                     NaN               NaN               NaN                 NaN                  NaN                    NaN                               NaN                                 NaN                                   N             None          None            None            None          None            None                None              None                    None            None         None                 None                                       None                           None                         Cash                N                    None                      None              None            None              None                  None
3  None  None      4000       4000         4000.0            36 months  18.94     146.51       D     D2        IT Supervisor   10+ years  MORTGAGE       92000      Source Verified     Dec-2018  Current     n          None  None  debt_consolidation  Debt consolidation  985xx    WA         16.74  0           Feb-2006         0              None                   None                   10       0       5468      78.1       13        w                   3831.93   3831.93       286.71      286.71          168.07          118.64        0.0                0.0        0.0                     Feb-2019     146.51          Mar-2019     Feb-2019           0                          None                        1           Individual       None             None      None                      0              686          305049      1           5           3           5           5                  30683        68      0           0           3761       70       7000             2      4           3            5                     30505       1239.0          75.2    0.0                       0            62.0                154                   64                     5               3         64.0                 NaN                        5                     NaN                              0                      1               2                1            2          7          2              3              2                    10        0                 0             0                   3                   100.0           100.0             0                     0          385183           36151              5000            44984                      NaN               None                    NaN                     NaN               NaN               NaN                 NaN                  NaN                    NaN                               NaN                                 NaN                                   N             None          None            None            None          None            None                None              None                    None            None         None                 None                                       None                           None                         Cash                N                    None                      None              None            None              None                  None
4  None  None      30000      30000        30000.0           60 months  16.14     731.78       C     C4        Mechanic        10+ years  MORTGAGE       57250      Not Verified        Dec-2018  Current     n          None  None  debt_consolidation  Debt consolidation  212xx    MD         26.35  0           Dec-2000         0              None                   None                   12       0       829       3.6        26        w                   29339.02  29339.02      1423.21     1423.21         660.98          762.23        0.0                0.0        0.0                     Feb-2019     731.78          Mar-2019     Feb-2019           0                          None                        1           Individual       None             None      None                      0              0            116007      3           5           3           5           4                  28845        89      2           4           516        54       23100            1      0           0            9                     9667        8471.0          8.9     0.0                       0            53.0                216                   2                      2               2         2.0                  NaN                        13                    NaN                              0                      2               2                3            8          9          6              15             2                    12        0                 0             0                   5                   92.3            0.0               0                     0          157548           29674              9300            32332                      NaN               None                    NaN                     NaN               NaN               NaN                 NaN                  NaN                    NaN                               NaN                                 NaN                                   N             None          None            None            None          None            None                None              None                    None            None         None                 None                                       None                           None                         Cash                N                    None                      None              None            None              None                  None

In [5]:
# check how many records for each loan status
df_bystatus=df.groupby(df.loan_status).count()
df_bystatus.show()

+--------------------+-------+
|         loan_status|  count|
+--------------------+-------+
|          Fully Paid|1041952|
|             Default|     31|
|     In Grace Period|   8952|
|Does not meet the...|   1988|
|         Charged Off| 261654|
|            Oct-2015|      1|
|  Late (31-120 days)|  21897|
|             Current| 919695|
|Does not meet the...|    761|
|   Late (16-30 days)|   3737|
+--------------------+-------+

In [6]:
# show all the column names
# df.columns

In [7]:
# check the shape of df
print("rows:",df.count())
print("columns:",len(df.columns))

rows: 2260668
columns: 145

In [8]:
# check the number of Nan or Null for each column
checkna_pd=df.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in df.columns]).toPandas()
checkna_pd

        id  member_id  loan_amnt  funded_amnt  funded_amnt_inv  term  int_rate  installment  grade  sub_grade  emp_title  emp_length  home_ownership  annual_inc  verification_status  issue_d  loan_status  pymnt_plan      url     desc  purpose  title  zip_code  addr_state   dti  delinq_2yrs  earliest_cr_line  inq_last_6mths  mths_since_last_delinq  mths_since_last_record  open_acc  pub_rec  revol_bal  revol_util  total_acc  initial_list_status  out_prncp  out_prncp_inv  total_pymnt  total_pymnt_inv  total_rec_prncp  total_rec_int  total_rec_late_fee  recoveries  collection_recovery_fee  last_pymnt_d  last_pymnt_amnt  next_pymnt_d  last_credit_pull_d  collections_12_mths_ex_med  mths_since_last_major_derog  policy_code  application_type  annual_inc_joint  dti_joint  verification_status_joint  acc_now_delinq  tot_coll_amt  tot_cur_bal  open_acc_6m  open_act_il  open_il_12m  open_il_24m  mths_since_rcnt_il  total_bal_il  il_util  open_rv_12m  open_rv_24m  max_bal_bc  all_util  total_rev_hi_lim  inq_fi  total_cu_tl  inq_last_12m  acc_open_past_24mths  avg_cur_bal  bc_open_to_buy  bc_util  chargeoff_within_12_mths  delinq_amnt  mo_sin_old_il_acct  mo_sin_old_rev_tl_op  mo_sin_rcnt_rev_tl_op  mo_sin_rcnt_tl  mort_acc  mths_since_recent_bc  mths_since_recent_bc_dlq  mths_since_recent_inq  mths_since_recent_revol_delinq  num_accts_ever_120_pd  num_actv_bc_tl  num_actv_rev_tl  num_bc_sats  num_bc_tl  num_il_tl  num_op_rev_tl  num_rev_accts  num_rev_tl_bal_gt_0  num_sats  num_tl_120dpd_2m  num_tl_30dpd  num_tl_90g_dpd_24m  num_tl_op_past_12m  pct_tl_nvr_dlq  percent_bc_gt_75  pub_rec_bankruptcies  tax_liens  tot_hi_cred_lim  total_bal_ex_mort  total_bc_limit  total_il_high_credit_limit  revol_bal_joint  sec_app_earliest_cr_line  sec_app_inq_last_6mths  sec_app_mort_acc  sec_app_open_acc  sec_app_revol_util  sec_app_open_act_il  sec_app_num_rev_accts  sec_app_chargeoff_within_12_mths  sec_app_collections_12_mths_ex_med  sec_app_mths_since_last_major_derog  hardship_flag  hardship_type  hardship_reason  hardship_status  deferral_term  hardship_amount  hardship_start_date  hardship_end_date  payment_plan_start_date  hardship_length  hardship_dpd  hardship_loan_status  orig_projected_additional_accrued_interest  hardship_payoff_balance_amount  hardship_last_payment_amount  disbursement_method  debt_settlement_flag  debt_settlement_flag_date  settlement_status  settlement_date  settlement_amount  settlement_percentage  settlement_term
0  2260668  2260668    0          0            0                0     0         0            0      0          166931     0           0               4           0                    0        0            0           2260667  2134600  1        23323  2         1           1712  30           30                31              1158341                 1901321                 110       92       54         1834        50         17                   17         21             13           11               9                3              3                   2           6                        2433          3                1303383       126                 188                         1679672                      80           61                2139751           2139795    2144813                    191             70146         70177        866036       866060       866079       866090       909895              866100        1068826  866114       866110       866115      866341    70273             866122  866120       866128        50027                 70343        74933           76070    399                       225          138970              70192                 70216                  70238           50005     73392                 1740941                   295413                 1520290                         70264                  70267           70274            58588        70274      70269      70269          70275          70274                58588     153656            70276         70274               70274               70430           75378             1604                  305        70179            49948              49970           70238                       2152621          2152627                   2152622                 2152624           2152632           2154471             2152638              2152644                2152645                           2152645                             2224719                              249            2249996        2250008          2250013          2250032        2250039          2250044              2250042            2250042                  2250044          2250048       2250048               2252240                                     2250054                         2250054                       255                  193                   2227510                    2227527            2227550          2227574            2227588                2227592